body {
  background-color: #F950AC;
  color: #FFF;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

h2 {
  color: #ACF950;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

h3 {
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

.cat {
  border: 20px solid #50ACF9;
  border-radius: 10px;
  width: 20%;
  height: 400px;
  box-shadow: 0px 5px 0px 0px #5CA1DB;
  display: inline-block;
  margin: auto;
  background-color: #ACF950;
}

.cat:hover {
  border-color: #7CC1FB;
}

.cat:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.cat img {
  width: 100%;
  height: 55%;
}

.counter-num {
  background-color: white;
  color:#ACF950;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
}

#message {
  padding-top: 1em;
}
